@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ============ MOBILE SECTION ========= */
@media(max-width:992px){
  /*sidebar popup color and width*/
  .wrapper{
    width: 100%;
    background: linear-gradient(to right, rgba(0,139,139,1), rgba(0,244,244,0.7));
  }
  /*sidebar menu items*/
  .wrapper ul{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: left;
  }
  .wrapper ul li a{
    font-size: 20px;
  }
  #header-logo{
    display: flex; 
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 30%;
    justify-content: center;
  }
  /*HOME SECTION-MOBILE*/
  #home-container{
    align-items: center;
    justify-content: center;
  }
  #home-text{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 30px;
  }
  #home-col-left{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #btn-home{
    align-items: center;
    margin-bottom: 20px;
  }


  /*ABOUT SECTION-MOBILE*/
  #secure_circle{
    margin-bottom: 10px;
    position: relative;
    left: 18%;
  }
  #about-col-left{
    padding-top: 50px;
    padding-bottom: 20px;
  }
  #about-col-right{
    padding-top: 50px;
    padding-bottom: 20px;
  }

 
  /*FEATURE SECTION-MOBILE*/
  #feature-col-right{
  }
  #feature-col-left{
    margin-left: 40px;
    margin-right: 10px;
    padding-top: 40px;
  }
  #feature-container{
  }

  /*GALLERY SECTION-MOBILE*/
  #gallery-col-left{
    padding-left: 23px;
    padding-right:0px;
    text-align: center;
  }

 

  /*CONTACT SECTION-MOBILE*/
  #connect-title{
    padding-bottom: 20px;
  }

  /*DOWNLOAD SECTION*/
  .play-store-img{
    margin-bottom: 15px;
  }
  .apple-store-img{
  }

  /*FOOTER SECTION-MOBILE*/
  #footer-text-left{
    font-size: 16px;
    text-align: center;
  }
  #footer-text-right{
    font-size: 16px;
    text-align: center;
  }
}
/* ============END MOBILE SECTION ========= */



/* ============LAPTOP SECTION ============= */
@media(min-width:992px){
    /*sidebar popup color and width*/
    .wrapper{
        width: 100%;
        background: linear-gradient(to right, rgba(0,59,59,1), rgba(0,139,139,0.75));
    }
    /*sidebar menu items*/
    .wrapper ul{
        position: absolute;
        top: 45%;
        left: 12%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: left;
      }

  .wrapper ul li a{
    font-size: 30px;
  }

  #header-logo{
    display: flex; 
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 40%;
    justify-content: center;
  }

  /*HOME SECTION-LAPTOP*/
  #bubo-nav-logo{
    margin-left: 40px;
  }
  #nav-item-text{
    color: black;
  }

#nav-item-text:hover{
  color: #b3aeae;
}
  #home-container{
    align-items: center;
    padding-bottom: 20px;
  }
  #home-text{
    padding-left: 90px;
    padding-top: 80px;
  }
  #home-col-left{
    padding-left: 60px;
  }
  #home-col-right{
  }
  #home-col-left p{
    color: #787878;
    padding-top: 20px;
    font-size: 25px;
  }
  #btn-home{
    text-align: center;
    margin-left: -100px;
  }

  /*ABOUT SECTION-LAPTOP*/
  #about-text-container{
  }
  #secure_circle{
    margin-bottom: 50px;
    position: relative;
    left: 35%;
  }
  #about-col-left{
    padding-top: 100px;
    padding-bottom: 80px;
  }
  #about-col-right{
    padding-top: 100px;
    padding-bottom: 80px;
  }

 /*REC SECTION-LAPTOP*/
  #rec-container{
    background-color: #edf8f5;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #rec-title{
    font-weight: bold;
    background-size: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70px;
  }
  #rec-col-right{
    padding-left: 50px;
    padding-right: 50px;
  }
   #rec-text{
    text-align: justify;
    font-size: 22px;
    margin-bottom: 50px;
  }
  #rec-col-right li{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
  }
 
  #rec-col-left{
    text-align: center;
  }

  /*PRIVACY SECTION-LAPTOP*/
  #privacy-container{
    margin: 10px;

  }
  #privacy-title{
    font-weight: bold;
    padding-bottom: 30px;
    background-size: 100%;
    text-align: center;
  }
  #privacy-col-left{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #D0E9EB;
  }
   #privacy-text{
    text-align: justify;
    font-size: 22px;
    margin-bottom: 50px;
  }
  #privacy-col-left li{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
  }
 
  #privacy-col-right{
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #EDF8F5;
    text-align: center;
  }

/* CONTENT CONTAINER -LAPTOP*/
  #content-container{
    text-align: center;
    padding-bottom: 50px;
  }
  #content-title{
    font-weight: bold;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
  }
  #content-container ul{
    text-align: center;
    list-style: none;
    margin-left: -30px;
  }
  #content-container li:before{
    font-family: 'FontAwesome';
    content: '\f560';
    font-size: 15px;
    margin-right: 10px;
    color: #d1cfcf;
  }
  #content-container li{
    font-size: 22px;
    margin-top: 20px;
  }
  /* used to contorl space betweeen bullet and text */
  #content-container li span{
    position: relative;
  }

/* EXPLORE PAGE */

 /*PROMISE SECTION-LAPTOP*/
  #promise-container{
    background-color: #F5F5F8;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #promise-title{
    font-weight: bold;
    background-size: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70px;
  }
  #promise-col-right{
    padding-left: 50px;
    padding-right: 100px;
    line-height: 1.7;
  }
   #promise-text{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
  }
  #promise-col-right li{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
  }
 
  #promise-col-left{
    text-align: center;
  }

/* WHY US CONTENT */
  #why-us-content{
    text-align: justify;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #D0E9EB;
  }
  #btn-google-play{
    margin-top: 30px;
  }
  #content-title-why-us{
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
  }
 

  /*DOWNLOAD SECTION - LAPTOP*/
  .play-store-img{
    float: right;
    padding-right: 10px;
  }
  .apple-store-img{
    float: left;
    padding-left: 10px;
  }

  /* GRID-CONTAINER */
  #grid-container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #why-bubofeed-text{
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  #grid-item-box{
    border-color: red;
    border: #162a6f 1px solid;
    padding: 20px;
    text-align: center;
  }

 /*FOOTER SECTION-LAPTOP*/
  #footer-text-left{
    text-align: left;
    font-size: 16px;
  }
  #footer-text-right{
    text-align: right;
    font-size: 16px;
  }
}
/* ============ END LAPTOP SECTION ============= */ 



#menu_icon{
width:10;
height: 10;
}
#menu_text{
}
#menu_text:hover{
  color: #b3aeae;
}
.navbar{
  background-color: #373252;
}
/* NAV SIDEBAR */
.wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
   /* background: linear-gradient(375deg, #1cc7d0, #2ede98);  */
 /* background: linear-gradient(-135deg, #c850c0, #4158d0);*/
 /* clip-path: circle(25px at calc(100% - 45px) 45px); */
  transition: all 0.3s ease-in-out;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  left: 20px;
  /* left: 20px; */
  top: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  background-color: white;
  border: none;
/*   background: linear-gradient(-135deg, #c850c0, #4158d0); */
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98);
 */  transition: all 0.3s ease-in-out;
}
#menu-btn-close{
  display: none;
  position: absolute;
  z-index: 2;
  left: 20px;
  /* left: 20px; */
  top: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: none;
/*   background: linear-gradient(-135deg, #c850c0, #4158d0); */
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98);
 */  transition: all 0.3s ease-in-out;
}

.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #4158d0;
}
/*bubo button on top*/
#bubo-btn{
    border: none;
    height: 45px;
    width: 45px;
}

.navbar{
    height: 70px;
    background-color: white;
}



#secure_circle{
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #162a6f;
  padding: 10px;
 
}


/*FOOTER SECTION*/
#footer{
  margin-top: 25px;
}
#footer{
  text-align: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
#footer-text-left{
  color: #787878;
}
#footer-text-right{
}
#footer-text-right a{
  text-decoration: none;
  color: #787878;
}