@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ============ MOBILE SECTION ========= */
@media(max-width:992px){
  /* NAV SECTION */
  #bubo-nav-logo{
    display: none;
  }
  #nav-item-text{
    color: black;
  }
  #nav-item-text:hover{
    color: #b3aeae;
  }
  /*HOME SECTION-MOBILE*/
  #home-container{
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    background:
        linear-gradient(#F7F4F1 , transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(to left , #162a6f, transparent),
        linear-gradient(to right , white, transparent),
        linear-gradient(to bottom, white, transparent);
    background-blend-mode: screen;
  }
  #home-title{
    font-family: 'Kaisei Tokumin';
    font-weight: 600;
    color: #162a6f;
  }
  #home-text{
    font-family: 'Kaisei Tokumin';
    font-weight: lighter;
    padding-top: 20px;
    font-size: 20px;
  }
  #home-col-left{
    padding-left: 10%;
    padding-right: 5%;
  }
  #home-col-right{
    padding-top: 20px;
    text-align: center; 
  }
  #home-col-right img{
    height: 450px;
  }

   /*REC SECTION-HOME PAGE - MOBILE*/
  #rec-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #rec-title{
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    font-size: 26px;
    font-family: 'Kaisei Tokumin';
    color: #0e1e58;
  }
  #rec-col-left{
    text-align: center;
  }
  #rec-col-right{
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
  }
  #rec-text-container{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
  }
  #rec-text{
    text-align: justify;
    font-family: 'Kaisei Tokumin';
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
  }
  #rec-col-right li{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Kaisei Tokumin';
    font-size: 15px;
    margin-top: 8px;
  }
  
  /*PRIVACY SECTION-HOME PAGE - MOBILE*/
  #privacy-container{
    padding-top: 30px;
    padding-bottom: 30px;
    background:
        linear-gradient(red , transparent),
        linear-gradient(to left , #273a7c,white,transparent),
        linear-gradient(to right, white, transparent),
        linear-gradient(to bottom, white, transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(red , transparent);
    background-blend-mode: screen;
  }
  #privacy-col-left{
    padding-left: 5%;
    padding-right: 5%;
  }
  #privacy-title{
    font-weight: 600;
    font-size: 30px;
    font-family: 'Kaisei Tokumin';
    color: #0e1e58;
    text-align: center;
  }
  #privacy-text-container{
    padding-top: 15px;
    padding-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
  }
   #privacy-text{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Kaisei Tokumin';
  }
  #privacy-col-left li{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
    margin-top: 8px;
    font-family: 'Kaisei Tokumin';
  }
 
  #privacy-col-right{
    padding-top: 20px;
    text-align: center;
  }
  #privacy-col-right img{
    height: 450px;
    width: 240px;
  }

  /* CONTENT CONTAINER - HOME PAGE - MOBILE*/
  #content-container{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background:
        linear-gradient(#f6f6f6, transparent),
        linear-gradient(to left , #F6F6F6,#FF6F51,transparent),
        linear-gradient(to right, #F6F6F6, transparent),
        linear-gradient(to bottom, #F6F6F6, transparent),
        linear-gradient(to top, #F6F6F6, transparent),
        linear-gradient(#FF6F51 , transparent);
    background-blend-mode: screen;
  }
  #content-title{
    font-weight: 600;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Kaisei Tokumin';
    color: #0e1e58;
  }
  #content-container ul{
    text-align: center;
    list-style: none;
    margin-left: -30px;
  }
  #content-container li:before{
    font-family: 'FontAwesome';
    content: '\f560';
    font-size: 15px;
    margin-right: 10px;
    color: #FF6F51;
  }
  #content-container li{
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Kaisei Tokumin';
  }
  /* used to contorl space betweeen bullet and text */
  #content-container li span{
    position: relative;
  }


  /* EXPLORE PAGE */
  /* HOME SECTION - EXPLORE PAGE - MOBILE */
  #explore-home-container{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background:
        linear-gradient(#F7F4F1 , transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(to left , red, transparent),
        linear-gradient(to right , white, transparent),
        linear-gradient(to bottom, white, transparent);
    background-blend-mode: screen;
  }
  #explore-home-title{
    font-family: 'Kaisei Tokumin';
    line-height: 1.4;
    padding-bottom: 20px;
    font-weight: 600;
    color: #0e1e58;
  }
  #explore-home-col-left{
    padding-left: 10%;
    padding-right: 10%;
  }
  #explore-home-col-right{
    text-align: center;
  }
  #explore-home-col-right img{
    height: 450px;
  }

 /*PROMISE SECTION-EXPLORE PAGE - MOBILE*/
  #promise-container{
    padding-top: 70px;
    padding-bottom: 30px;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white, #0e1e58, transparent),
        linear-gradient(to top, white,#0e1e58 30%,white, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  
  #promise-col-left{
    text-align: center;
  }
  #promise-col-left img{
    height: 450px;
  }
  #promise-col-right{
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 30px ;
    line-height: 1.7;
  }
  #promise-title{
    color: #0e1e58;
    font-weight: 600;
    font-family: 'Kaisei Tokumin';
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
   #promise-text{
    padding-left: 5%;
    padding-right:5%;
    font-family: 'Kaisei Tokumin';
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
  }
  #promise-col-right li{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
  }

 /*EXPLORE SECTION-EXPLORE PAGE - MOBILE*/
  #explore-content-container{
    text-align: center;
  }
  #explore-content-title{
    color: #0e1e58;
    font-weight: 600;
    font-family: 'Kaisei Tokumin';
    font-size: 30px;
    padding-bottom: 20px;
  }
  #explore-content-text{
    font-family: 'Kaisei Tokumin';
    font-size: 16px;
    line-height: 2;
    padding-left: 10%;
    padding-right: 10%;
  }


  /* WHY US CONTENT */
  /* HOME-SECTION - WHY US - MOBILE */
  #why-us-home-container{
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }
  #why-us-home-title{
    font-family: 'Kaisei Tokumin';
    line-height: 1.5;
    font-weight: 600;
    color: #0e1e58;
  }
  #why-us-home-col-left{
  }

  #why-us-home-col-right{
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
  #why-us-home-col-right img{
    height: 200px;
    width: 100%;
  }

  /* CONTENT-SECTION - WHY US - MOBILE */
  #why-us-content-container{
    padding-bottom: 30px;
    text-align: justify;
    font-family: 'Kaisei Tokumin';
    font-weight: 500;
    padding-left: 10%;
    padding-right: 10%;
    background:
        linear-gradient(red,  transparent),
        linear-gradient(to right, white,transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white, transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(red , transparent);
    background-blend-mode: screen;
  }
  #why-us-content-text{
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Abel';
  }
 /* WHY BUBOFEED-SECTION - WHY US - LAPTOP */
  #why-bubofeed-container{
    padding-top: 80px;
  }
  #why-bubofeed-title{
    font-weight: 600;
    text-align: center;
    font-family: 'Kaisei Tokumin';
    margin-bottom: 40px;
    color: #0e1e58;
  }
  #why-bubofeed-text{
    font-family: 'Kaisei Tokumin';
    font-weight: 600;
    font-size: 22px;
    text-align: justify;
    color: #0e1e58;
  }

  #why-bubofeed-left-1{
    text-align: center;
    padding-bottom: 30px;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,#0e1e58 30%, transparent),
        linear-gradient(to top, white,red 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-left-1 img{
    height: 450px;
  }
  #why-bubofeed-right-1{
    padding-left: 10%;
    padding-right: 10%;
  }

  #why-bubofeed-left-2{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 70px;
  }
  #why-bubofeed-right-2{
    text-align: center; 
    padding-bottom: 30px;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,#0e1e58 30%, transparent),
        linear-gradient(to top, white,#0e1e58 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-right-2 img{
    height: 450px;
  }

  #why-bubofeed-left-3{
    text-align: center; 
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,red 30%, transparent),
        linear-gradient(to top, white,red 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-left-3 img{
    height: 450px;
  }
  #why-bubofeed-right-3{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  #why-bubofeed-left-4{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 70px;
  }
  #why-bubofeed-right-4{
    text-align: center; 
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,yellow 30%, transparent),
        linear-gradient(to top, white,yellow 30%, transparent),
        linear-gradient(yellow , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-right-4 img{
    height: 450px;
  }

  #why-bubofeed-left-5{
    text-align: center;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,orange 30%, transparent),
        linear-gradient(to top, white,orange 30%, transparent),
        linear-gradient(red , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-left-5 img{
    height: 450px;
  }
  #why-bubofeed-right-5{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 70px;
  }
}

/* ============END MOBILE SECTION ========= */



/* ============LAPTOP SECTION ============= */
@media(min-width:992px){

  /* NAV SECTION */
  #bubo-nav-logo{
    margin-left: 30px;
    color: #162a6f;
    font-weight: 600;
    font-size: 19px;
  }
  #bubo-nav-logo-mobile{
    display: none;
  }

  #nav-item-text{
    color: black;
  }
  #nav-item-text:hover{
    color: #b3aeae;
  }

  /*HOME SECTION-LAPTOP*/
  #home-container{
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: center;
    background:
        linear-gradient(#F7F4F1 , transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(to left , #162a6f, transparent),
        linear-gradient(to right , white, transparent),
        linear-gradient(to bottom, white, transparent);
    background-blend-mode: screen;
  }
  #home-title{
    font-family: 'Kaisei Tokumin';
    font-weight: 600;
    color: #162a6f;
  }
  #home-text{
    font-family: 'Kaisei Tokumin';
    font-weight: lighter;
    padding-top: 20px;
    font-size: 20px;
  }
  #home-col-left{
    padding-left: 10%;
  }
  #home-col-right{
    padding-left: 7%;
    padding-right: 10%;
    
  }
  #home-col-right img{
    height: 600px;
    width: 310px;
  }
  

  /*REC SECTION-HOME PAGE - LAPTOP*/
  #rec-container{
    padding-top: 100px;
    padding-bottom: 80px;
    
  }
  #rec-title{
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    font-size: 26px;
    font-family: 'Kaisei Tokumin';
    color: #0e1e58;
  }
  #rec-col-left{
    text-align: center;
    padding-left: 12%;
    padding-right: 3%;
  }
  #rec-col-right{
    padding-right: 12%;
    padding-left: 10%;
  }
  #rec-text-container{
    padding-top: 10px;
  }
  #rec-text{
    text-align: justify;
    font-family: 'Kaisei Tokumin';
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
  }
  #rec-col-right li{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Kaisei Tokumin';
    font-size: 14px;
    margin-top: 8px;
  }
  

  /*PRIVACY SECTION-HOME PAGE - LAPTOP*/
  #privacy-container{
    padding-top: 100px;
    background:
        linear-gradient(red , transparent),
        linear-gradient(to left , #273a7c,white,transparent),
        linear-gradient(to right, white, transparent),
        linear-gradient(to bottom, white, transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(red , transparent);
    background-blend-mode: screen;
  }
  #privacy-title{
    font-weight: 600;
    font-size: 30px;
    font-family: 'Kaisei Tokumin';
    color: #0e1e58;
  }
  #privacy-col-left{
    padding-left: 12%;
    padding-right: 10%;
  }
  #privacy-text-container{
    padding-top: 15px;
    padding-right: 20%;
  }
   #privacy-text{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Kaisei Tokumin';
  }
  #privacy-col-left li{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
    margin-top: 8px;
    font-family: 'Kaisei Tokumin';
  }
 
  #privacy-col-right{
    padding-left: 5%;
    padding-right: 10%;
  }

/* CONTENT CONTAINER - HOME PAGE - LAPTOP*/
  #content-container{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background:
        linear-gradient(#f6f6f6, transparent),
        linear-gradient(to left , #F6F6F6,#FF6F51,transparent),
        linear-gradient(to right, #F6F6F6, transparent),
        linear-gradient(to bottom, #F6F6F6, transparent),
        linear-gradient(to top, #F6F6F6, transparent),
        linear-gradient(#FF6F51 , transparent);
    background-blend-mode: screen;
  }
  #content-title{
    font-weight: 600;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Kaisei Tokumin';
    color: #0e1e58;
  }
  #content-container ul{
    text-align: center;
    list-style: none;
    margin-left: -30px;
  }
  #content-container li:before{
    font-family: 'FontAwesome';
    content: '\f560';
    font-size: 15px;
    margin-right: 10px;
    color: #FF6F51;
  }
  #content-container li{
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Kaisei Tokumin';
  }
  /* used to contorl space betweeen bullet and text */
  #content-container li span{
    position: relative;
  }

  /* EXPLORE PAGE */
  /* HOME SECTION - EXPLORE PAGE - LAPTOP */
  #explore-home-container{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    background:
        linear-gradient(#F7F4F1 , transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(to left , red, transparent),
        linear-gradient(to right , white, transparent),
        linear-gradient(to bottom, white, transparent);
    background-blend-mode: screen;
  }
  #explore-home-title{
    font-family: 'Kaisei Tokumin';
    line-height: 1.4;
    padding-bottom: 100px;
    font-weight: 600;
    color: #0e1e58;
  }
  #explore-home-col-left{
    padding-left: 10%;
  }
  #explore-home-col-right{
    padding-left: 10%;
    padding-right: 10%;
  }
  #explore-home-col-right img{
    height: 500px;
  }

 /*PROMISE SECTION-EXPLORE PAGE - LAPTOP*/
  #promise-container{
    padding-top: 70px;
    padding-bottom: 100px;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white, transparent),
        linear-gradient(to top, white, transparent),
        linear-gradient(red , transparent);
    background-blend-mode: screen;
  }
  #promise-title{
    color: #0e1e58;
    font-weight: 600;
    font-family: 'Kaisei Tokumin';
    font-size: 30px;
    padding-bottom: 10px;
  }
  #promise-col-left{
    text-align: center;
    padding-left: 5%;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,#0e1e58 30%, transparent),
        linear-gradient(to top, white,#0e1e58 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #promise-col-left img{
    height: 550px;
  }
  #promise-col-right{
    align-items: center;
    padding-left: 5%;
    padding-right:15%;
    line-height: 1.7;
  }
   #promise-text{
    font-family: 'Abel';
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    padding-right:15%;
  }
  #promise-col-right li{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
  }

 /*EXPLORE SECTION-EXPLORE PAGE - LAPTOP*/
  #explore-content-container{
    text-align: center;
    padding-bottom: 50px;
    background:
        linear-gradient(#f6f6f6, transparent),
        linear-gradient(to left , #F6F6F6,transparent),
        linear-gradient(to right, #F6F6F6, transparent),
        linear-gradient(to bottom, #F6F6F6, transparent),
        linear-gradient(to top, #F6F6F6, transparent),
        linear-gradient(#FF6F51 , transparent);
    background-blend-mode: screen;
  }
  #explore-content-title{
    color: #0e1e58;
    font-weight: 600;
    font-family: 'Kaisei Tokumin';
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
  }
  #explore-content-text{
    font-family: 'Kaisei Tokumin';
    font-size: 20px;
    line-height: 2.3;
  }


/* WHY US CONTENT */
/* HOME-SECTION - WHY US - LAPTOP */
  #why-us-home-container{
    align-items: center;
    padding-top: 40px;
  }
  #why-us-home-title{
    font-family: 'Kaisei Tokumin';
    line-height: 1.5;
    font-weight: 600;
    color: #0e1e58;
  }
  #why-us-home-col-left{
    padding-left: 7%;
    padding-right: 4%;
  }
  #why-us-home-col-right{
  }
  #why-us-home-col-right img{
    height: 400px;
    width: 115%;
  }

  /* CONTENT-SECTION - WHY US - LAPTOP */
  #why-us-content-container{
    padding-bottom: 50px;
    text-align: justify;
    font-family: 'Kaisei Tokumin';
    font-weight: 500;
    padding-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
    /* background:
        linear-gradient(white,  transparent),
        linear-gradient(to right, white,transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,red, transparent),
        linear-gradient(to top,white, red, transparent),
        linear-gradient(white , transparent);
    background-blend-mode: screen; */
  }
  #why-us-content-text{
    font-size: 22px;
    line-height: 2;
    font-family: 'Abel';
  }

  /* WHY BUBOFEED-SECTION - WHY US - LAPTOP */
  #why-bubofeed-container{
    padding-top: 80px;
  }
  #why-bubofeed-title{
    font-weight: 600;
    text-align: center;
    font-family: 'Kaisei Tokumin';
    margin-bottom: 50px;
    color: #0e1e58;
    padding-bottom: 50px;
  }
  #why-bubofeed-text{
    font-family: 'Kaisei Tokumin';
    font-weight: 600;
    font-size: 22px;
    color: #0e1e58;
  }

  #why-bubofeed-left-1{
    display: flex;
    justify-content: center;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,#0e1e58 30%, transparent),
        linear-gradient(to top, white,red 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-left-1 img{
    height: 550px;
  }
  #why-bubofeed-right-1{
    padding-right: 40%;
  }

  #why-bubofeed-left-2{
    display: flex;
    justify-content: flex-end;
    padding-left: 40%;
  }
  #why-bubofeed-right-2{
    display: flex;
    justify-content: center;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,#0e1e58 30%, transparent),
        linear-gradient(to top, white,#0e1e58 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-right-2 img{
    height: 550px;
  }

  #why-bubofeed-left-3{
    display: flex;
    justify-content: center;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,red 30%, transparent),
        linear-gradient(to top, white,red 30%, transparent),
        linear-gradient(#0e1e58 , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-left-3 img{
    height: 550px;
  }
  #why-bubofeed-right-3{
    padding-right: 35%;
  }

  #why-bubofeed-left-4{
    display: flex;
    justify-content: flex-end;
    padding-left: 35%;
  }
  #why-bubofeed-right-4{
    display: flex;
    justify-content: center;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,yellow 30%, transparent),
        linear-gradient(to top, white,yellow 30%, transparent),
        linear-gradient(yellow , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-right-4 img{
    height: 550px;
  }

  #why-bubofeed-left-5{
    display: flex;
    justify-content: center;
    background:
        linear-gradient(#F6F6F6, transparent),
        linear-gradient(to right ,white, transparent),
        linear-gradient(to left, white, transparent),
        linear-gradient(to bottom, white,orange 30%, transparent),
        linear-gradient(to top, white,orange 30%, transparent),
        linear-gradient(red , transparent);
    background-blend-mode: screen;
  }
  #why-bubofeed-left-5 img{
    height: 550px;
  }
  #why-bubofeed-right-5{
    padding-right: 35%;
  }

  /* GRID CONTENT-SECTION - WHY US - LAPTOP */
  #grid-container{
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  #grid-item-box{
    border-color: red;
    border: #162a6f 0px solid;
    padding: 3%;
    display: flex;
    align-items: center;
    margin: 10px;
  }
  #grid-item-text{
    text-align: center;
    font-family: 'Kaisei Tokumin';
    color: white;
  }

  /* BULLET CONTENT-SECTION - WHY US - LAPTOP */
  #btn-google-play{
    margin-top: 30px;
  }



 /*FOOTER SECTION-LAPTOP*/
  #footer-text-left{
    text-align: left;
    font-size: 16px;
  }
  #footer-text-right{
    text-align: right;
    font-size: 16px;
  }
}
/* ============ END LAPTOP SECTION ============= */ 



#menu_icon{
width:10;
height: 10;
}
#menu_text{
}
#menu_text:hover{
  color: #b3aeae;
}
/*bubo button on top*/
#bubo-btn{
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.navbar{
    background-color: white;
    opacity: 0.93;
}




#secure_circle{
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #162a6f;
  padding: 10px;
}


/*FOOTER SECTION*/
#footer{
  margin-top: 25px;
}
#footer{
  text-align: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
#footer-text-left{
  color: #787878;
}
#footer-text-right{
}
#footer-text-right a{
  text-decoration: none;
  color: #787878;
}
