@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'sans-serif', 'Poppins';
  color: #777;
}

/* ============ MOBILE SECTION ========= */
@media(max-width:992px){
  /* NAV SECTION */
  #bubo-nav-logo{
    display: none;
  }
  .navbar{
    background-color: '#44D7F5';
  }
  #bubo-btn{
    height: 35px;
  }
  #bubo-text-mobile{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .1em;
    margin-top: 4px;
  }
  footer{
    text-align: center;
    font-size: 12px;
  }
  /*HOME SECTION-MOBILE*/
  .home-header h1{
    font-weight: 500;
    font-size: 35px;
    margin: 25% 10% 0% 10%;
  }
  .home-header p{
    font-size: 18px;
    margin: 30px 10% 0 10%;
  }
  .home-header img{
    margin-top: 20px;
    height: 500px;
  }
  /* VIDEO SECTION-MOBILE */
  .video-bg-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
  }
 .video-bg-container::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 100%;
    z-index: -1;
    background-image: 
        linear-gradient(to right bottom, rgb(42,51,56, 0.3), rgb(42,51,56,0.3)),
        url('../images/home_section/bubo-collash.png') ;
    transform: rotate(90deg);
  }
  .video-container{
    padding: 10%;
  }
  #video-text-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
  }
  #video-text-container h1{
    font-weight: 200; 
    font-size: 40px;
    margin-bottom: 20px;
  }
  #video-text-container p{
    font-size: 16px;
    font-weight: 300;
  }
  .grey-text-box{
    padding: 20px 40px;
    margin: 3px 0px;
  }
  .grey-text-box span{
    font-size: 15px;
  }

  /* PRIVACY SECTION-MOBILE*/
  .privacy-section{
    display: inline-block;
    padding-top: 50px;
    padding-left: 5%;
    margin-bottom: 10%;
  }
  
  #privacy-text-container h1{
    font-size: 35px;
    font-weight: 400;
  }
  #privacy-text-container p{
    margin-top: 20px;
    padding-right: 5%;
    font-weight: 300;
  }
  #privacy-text-container hr{
    margin: 35px 80px 30px 0px;
  }
  .privacy-point-container{
    margin-bottom: 25px;
    display: inline-block;
  }
  .privacy-point-container i{
    padding: 23px;
  }
  .privacy-point-container div{
    margin-left: 25px;
    margin-top: 5px;
    margin-right: 10%;
  }
  .privacy-point-container span{
    font-size: 15px;
  }

  #privacy-image-container{
    padding: 7% 10% 0 8%;
    margin-bottom: 400px;
  }
  .image-container img{
    height: 300px;
  }
  .image-container img:first-of-type{
    /* first img */
    top: 50px;
  }
  .image-container img:nth-child(2){
    /* last img */
    top: 100px;
    left: 150px;
  }
  .image-container img:last-of-type{
    /* center img */
    left: 80px;
  }
  /* CONTENT SECTION-MOBILE*/
  .content-section{
    height: 85vh;
    display: flex;
    align-items: center;
  }
  .content-text-container h1{
    padding: 0 10% 3% 10%;
  }
  .content-text-container li{
    font-size: 18px;
  }

  /* EXPLORE PAGE - MOBILE */
  .explore-header h1{
      font-size: 45px;
      margin: 25% 10% 5% 10%;
  }
  .explore-header img{
    height: 500px;
    margin-bottom: 30px;
  }
  .promise-section img{
    /* height: 500px;
    margin-bottom: 10%; */
    display: none;
  }

  .promise-video-container video{
    width: 35%;
    margin: 5% 0 ;
  }
  #promise-text-container{
    padding-left:10%;
    padding-right: 10%;
    text-align: center;
  }
  #promise-text-container h1{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
  }
  #promise-text-container p{
    font-size: 17px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.09em
  }
  #promise-text-container i{
    display: none;
  }

  .explore-content-section{
    margin-top: 40px;
    padding: 8% 0px;
  }
  .explore-content-section img{
    display: none;
  }
  .explore-content-heading{
    margin: 5% 10% 5% 10%;
  }
  #explore-content-col-left{
    padding: 0 5%;
  }
  #explore-content-col-right{
    padding: 0 5%;
  }
  .explore-content-item-container{
    padding: 7% 0%;
  }
  .explore-content-item-container span{
    font-size: 16px;
    font-weight: 300;
  }

  /* WHY US PAGE - MOBILE*/
  
  .why-us-header h1{
      font-weight: 300;
      font-size: 45px;
      margin: 25% 10% 0% 10%;
  }
  .why-us-header h2{
      font-weight: 100;
      font-size: 45px;
      margin: 3% 10% 0% 10%;
  }
  .why-us-header span{
      font-weight: 500;
  }
  .why-us-header img{
    height: 500px;
    margin-top: 30px;
  }
  .why-us-bg-container{
    padding: 400px 0 50px 0; 
    margin-top: 200px;
  }
  .why-us-content-section{
    text-align: center;
    display: flex;
    align-items: center;
    top: -150px;
    height: 500px;
    padding: 0px 30px;
    margin: 0 5%;
  }
  .why-us-content-section p{
    font-size: 22px;
    line-height: 1.8;
  }

  .feature-section-container{
    padding: 0 10% 0 10%;
    text-align: center;
  }
  .feature-section-container h1{
    margin: 50px 0 50px 0;
    font-size: 45px;
  }
  .feature-box{
    font-size: 15px;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 3px;
  }
  .feature-box_icon{
    font-size: 60px;
    margin-bottom: 10px;
  }
  .feature-box_text{
    font-size: 18px;
    font-weight: 100;
  }
}

/* ============END MOBILE SECTION ========= */



/* ============LAPTOP SECTION ============= */
@media(min-width:992px){

  /* NAV SECTION */
  #bubo-nav-logo {
    display: flex;
    justify-content: center;
  }
  #bubo-btn{
    height:50px;
  }
  #bubo-nav-logo-mobile{
    display: none;
  }
  #bubo-text-mobile{
    display: none;
  }
  .nav-link{
    font-size: 17px;
    letter-spacing: .1em;
    font-weight: 400;
    margin-left: 20px;
  }

  /* BULLET CONTENT-SECTION - WHY US - LAPTOP */
  #btn-google-play{
    margin-top: 30px;
  }
 /*FOOTER SECTION-LAPTOP*/
  footer{
    font-size: 16px;
  }
  #footer-text-left{
    text-align: left;
  }
  #footer-text-right{
    text-align: right;
  }

  /* HOME-PAGE-LAPTOP*/
  .home-header{
    height: 100vh;
  }
  .home-header h1{
    font-weight: 600;
    font-size: 45px;
    margin: 25% 10% 0% 15%;
  }
  .home-header p{
    font-size: 20px;
    margin: 30px 10% 0 15%;
  }
  .home-header img{
    margin-top: 120px;
    height: 480px;
    margin-left: 10%;
  }

  /* VIDEO SECTION */
  .video-section{
    height: 100vh;
  }
  .video-bg-container{
    height: 80vh;
    background-image: 
      linear-gradient(to right bottom, rgb(42,51,56, 0.3), rgb(42,51,56,0.3)),
      url('../images/home_section/bubo-collash.png');
    background-size: cover;
  }
  .video-container{
    padding-left: 10%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(15%, -50%);
  }
  #video-text-container{
    padding-left: 15%;
    padding-right: 5%;
  }
  #video-text-container h1{
    font-weight: 200; 
    font-size: 40px;
    margin-bottom: 20px;
  }
  #video-text-container p{
    font-size: 16px;
    font-weight: 300;
  }
  .grey-text-box{
    padding: 20px 40px;
    margin: 3px 0px;
  }
  .grey-text-box span{
    font-size: 15px;
  }

  /* PRIVACY SECTION */
  .privacy-section{
    margin: 4% 0 10% 0;
    height: 100vh;
  }
  #privacy-text-container{
    padding: 5% 3% 0 5%;
  }
  #privacy-text-container h1{
    font-size: 35px;
    font-weight: 400;
  }
  #privacy-text-container p{
    margin-top: 30px;
    padding-right: 10%;
    font-weight: 300;
  }
  #privacy-text-container hr{
    margin: 35px 50px 30px 0px;
  }
  .privacy-point-container{
    margin-bottom: 20px;
    display: flex;
  }
  .privacy-point-container i{
    padding: 20px;
  }
  .privacy-point-container div{
    margin-left: 25px;
  }

  #privacy-image-container{
    padding-left: 3%;
  }
  
  .image-container img{
    height: 500px;
  }
  .image-container img:first-of-type{
    /* first img */
    top: 70px;
  }
  
  .image-container img:nth-child(2){
    /* last img */
    top: 120px;
    left: 250px;
  }
 
  .image-container img:last-of-type{
    /* center img */
    left: 120px;
  }
  
  /* CONTENT SECTION */
  .content-section{
    height: 90vh;
    position: relative;
  }
  .content-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content-text-container h1{
    padding: 0% 15% 3% 15%;
  }
  .content-text-container li{
      font-size: 20px;
    }

  .explore-header{
    height: 100vh;
  }
  .explore-header h1{
      font-size: 60px;
      margin: 25% 0 0 25%;
  }
  .explore-header img{
    height: 480px;
    margin-top: 120px;
    padding-left: 10%;
  }
  .promise-section img{
    margin-top: 10px;
    height: 700px;
  }
  .promise-video-container video{
    width: 48%;
  }
  #promise-text-container{
    margin-top: 10%;
  }
  #promise-text-container h1{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
  }
  #promise-text-container p{
    padding-right: 35%;
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
    letter-spacing: 0.09em
  }
  #promise-text-container i{
    margin-bottom: 25px;
  }

  .explore-content-section{
    margin-top: 80px;
    padding: 8% 0px;
  }
  .explore-content-section img{
    height: 600px;
  }
  .explore-content-heading{
    margin: 0 30% 5% 30%;
  }
  #explore-content-col-left{
    padding: 2% 0 0 5%;
  }
  #explore-content-col-right{
    padding: 2% 5% 0 0;
  }
  .explore-content-item-container{
    padding: 12% 0%;
  }
  .explore-content-item-container span{
    font-size: 17px;
    font-weight: 300;
  }

  /* WHY US PAGE - LAPTOP*/
  .why-us-header{
      height: 100vh;
  }
  .why-us-header h1{
      font-weight: 400;
      font-size: 65px;
      margin: 25% 10% 0% 15%;
  }
  .why-us-header h2{
      font-weight: 100;
      font-size: 55px;
      margin: 3% 0% 0% 15%;
  } 
  .why-us-header span{
      font-weight: 500;
  }
  .why-us-header img{
    height: 480px;
    margin-top: 120px;
    padding-left: 10%;
  }
  .why-us-bg-container{
    padding: 200px 0 50px 0; 
    margin-top: 170px;
  }
  .why-us-content-section{
    text-align: justify;
    top: -150px;
    padding: 70px 80px;
    margin: 0 17%;
  }
  .why-us-content-section p{
    font-size: 22px;
    line-height: 1.8;
  }

  .feature-section-container{
    padding: 0 14% 0 17%;
    text-align: center;
  }
  .feature-section-container h1{
    margin: 60px 0 60px 0;
    font-size: 50px;
  }
  .feature-box{
    font-size: 15px;
    padding: 40px 30px;
    margin-bottom: 50px;
    border-radius: 3px;
    height: 300px;
    width: 250px;
  }
  .feature-box_icon{
    font-size: 60px;
    margin-bottom: 20px;
  }
  .feature-box_text{
    font-size: 18px;
    font-weight: 100;
  }
}
/* ============ END LAPTOP SECTION ============= */ 


/* ============ LARGE DISPLAY SECTION ============= */ 
@media(min-width:1600px){
  /* NAV SECTION */
  #bubo-nav-logo {
    display: flex;
    justify-content: center;
  }
  #bubo-btn{
    height:50px;
  }
  #bubo-text-mobile{
    display: none;
  }
  #bubo-nav-logo-mobile{
    display: none;
  }
  .nav-link{
    font-size: 17px;
    letter-spacing: .1em;
    font-weight: 400;
    margin-left: 20px;
  }

  /* BULLET CONTENT-SECTION - WHY US - LARGE DISPLAY */
  #btn-google-play{
    margin-top: 30px;
  }
  /*FOOTER SECTION-LARGE DISPLAY*/
  footer{
    font-size: 16px;
  }
  #footer-text-left{
    text-align: left;
  }
  #footer-text-right{
    text-align: right;
  }

  /*HOME PAGE - LARGE DISPLAY*/
  .home-header{
    height: 92vh;
  }
  .home-header h1{
    font-weight: 600;
    font-size: 60px;
    margin: 33% 10% 5% 17%;
    line-height: 1.2;
  }
  .home-header p{
    font-size: 25px;
    margin: 50px 10% 0 17%;
  }
  .home-header img{
    margin-top: 25%;
    height: 680px;
    margin-left: 20%;
  }

  /* VIDEO SECTION */
  .video-section{
    height: 100vh;
  }
  .video-bg-container{
    height: 80vh;
    background-image: 
      linear-gradient(to right bottom, rgb(42,51,56, 0.3), rgb(42,51,56,0.3)),
      url('../images/home_section/bubo-collash.png');
    background-size: cover;
  }
  .video-container{
    padding-left: 10%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(15%, -50%);
  }
  #video-text-container{
    padding-left: 15%;
    padding-right: 5%;
  }
  #video-text-container h1{
    font-weight: 200; 
    font-size: 60px;
    margin-bottom: 40px;
  }
  #video-text-container p{
    font-size: 20px;
    font-weight: 200;
  }
  .grey-text-box{
    padding: 25px 45px;
    margin: 10px 0px;
  }
  .grey-text-box span{
    font-size: 17px;
  }

  /* PRIVACY SECTION */
  .privacy-section{
    margin-bottom: -5%;
  }

  #privacy-text-container{
    padding: 5% 5% 0 0%;
  }
  #privacy-text-container h1{
    font-size: 60px;
    font-weight: 400;
  }
  #privacy-text-container p{
    margin-top: 30px;
    padding-right: 10%;
    font-weight: 200;
    font-size: 20px;
  }
  #privacy-text-container hr{
    margin: 35px 10px 30px 0px;
  }
  .privacy-point-container{
    margin-bottom: 25px;
    display: flex;
  }
  .privacy-point-container i{
    padding: 25px;
  }
  .privacy-point-container div{
    margin-left: 25px;
  }
  #privacy-image-container{
    padding-left: 5%;
  }
  .image-container img{
    height: 650px;
  }
  .image-container img:first-of-type{
    /* first img */
    top: 90px;
  }
  .image-container img:nth-child(2){
    /* last img */
    top: 160px;
    left: 300px;
  }
  .image-container img:last-of-type{
    /* center img */
    left: 150px;
  }
 

  /* CONTENT SECTION */
  .content-section{
    height: 90vh;
    position: relative;
  }
  .content-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content-text-container h1{
    padding: 0% 15% 3% 15%;
  }
  .content-text-container li{
      font-size: 20px;
    }

    /* EXPLORE PAGE - LARGE DISPLAY*/
  
  .explore-header h1{
      font-size: 80px;
      margin: 35% 0 0 26%;
  }
  .explore-header img{
    height: 680px;
    margin-top: 25%;
    padding-left: 20%;
  }
  .promise-section img{
    height: 700px;
    margin-bottom: 10%;
  }
  .promise-video-container video{
    width: 48%;
  }
  #promise-text-container{
    margin-top: 5%;
  }
  #promise-text-container h1{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 55px;
  }
  #promise-text-container p{
    padding-right: 38%;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.8;
    letter-spacing: 0.1em
  }
  #promise-text-container i{
    margin-bottom: 50px;
  }

  .explore-content-section{
    margin-top: 80px;
    padding: 8% 0px;
  }
  .explore-content-section img{
    height: 700px;
  }
  .explore-content-heading{
    margin: 0 30% 5% 30%;
    font-size: 60px;
  }
  #explore-content-col-left{
    padding: 3% 0 0 8%;
  }
  #explore-content-col-right{
    padding: 3% 10% 0 0;
  }
  .explore-content-item-container{
    padding: 10% 0%;
  }
  .explore-content-item-container span{
    font-size: 20px;
    font-weight: 200;
  }

  /* WHY US PAGE LARGE DISPLAY*/
  .why-us-header{
      height: 100vh;
  }
  .why-us-header h1{
      font-weight: 400;
      font-size: 75px;
      line-height: 1.5;
      margin: 35% 10% 0% 17%;
  }
  .why-us-header h2{
      font-weight: 100;
      font-size: 65px;
      margin: 3% 10% 0% 17%;
  }
  .why-us-header span{
      font-weight: 500;
  }
  .why-us-header img{
    height: 680px;
    margin-top: 25%;
    padding-left: 20%;
  }
  .why-us-bg-container{
    padding: 200px 0 50px 0; 
    margin-top: 170px;
  }
  .why-us-content-section{
    text-align: justify;
    top: -150px;
    padding: 80px 150px;
    margin: 0 22% 0 22%;
  }
  .why-us-content-section p{
    font-size: 22px;
    line-height: 2;
  }

  .feature-section-container{
    padding: 3% 17% 3% 22%;
    text-align: center;
  }
  .feature-section-container h1{
    margin: 60px 0 80px -5%;
    font-size: 50px;
  }
  .feature-box{
    font-size: 15px;
    padding: 40px 30px;
    margin-bottom: 70px;
    border-radius: 3px;
    height: 310px;
    width: 260px;
  }
  .feature-box_icon{
    font-size: 60px;
    margin-bottom: 20px;
  }
  .feature-box_text{
    font-size: 18px;
    font-weight: 100;
  }


}

/* ============ END OF LARGE DISPLAY SECTION ============= */ 

#menu_icon{
width:10;
height: 10;
}
#menu_text{
}
#menu_text:hover{
  color: #b3aeae;
}
/*bubo button on top*/
#bubo-btn{
    border: none;
    border-radius: 100%;
    background-color: #85ECED;
}
.navbar{
    opacity: 0.9;
}

#navbarSupportedContent a.nav-link{
  color: white;
}

#navbarSupportedContent a.nav-link:hover{
  color: #94b2f7;

}

#bubo-nav-logo span{
    color: #162a6f;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: .1em;
    margin-left: 10%;
    margin-top: 4px;
}

/*FOOTER SECTION*/
footer{
  background-color: #03233b;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  padding-top: 30px;
}
footer a{
  text-decoration: none;
  color: #787878;
}
footer a:hover{
  color: #a8a6a6;
}
#footer-text-left{
  color: #787878;
}

#home-col-right img{
    animation: vibrate-home-img-1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}
  
#explore-home-col-right img{
    animation: vibrate-home-img-1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
  }
  @keyframes vibrate-home-img-1 {
    0% {
      opacity: 0;
      transform: rotate(5deg);
    }

    100%{
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .phone-img {
    opacity: 1;
    transform: translateY(2em) rotateZ(-1deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
  }

  .phone-img.is-visible {
  opacity: 1;
  transform: rotateZ(1deg);
}

.moveToRight {
    opacity: 1;
    transform: translateX(-4em);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-in-out;
  }

.moveToRight.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.moveToLeft {
    opacity: 1;
    transform: translateX(0);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-in-out;
  }

.moveToLeft.is-visible {
  opacity: 1;
  transform: translateX(4em);
}


.vibrate-image{
  animation: vibrateImage;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
@keyframes vibrateImage{
  0%{
    transform: translateY(0em) rotateZ(0deg);
  }
  25%{
    transform: translateY(2em) rotateZ(-2deg);
  }
  50%{
    transform: translateY(0em) rotateZ(0deg);
  }
  75%{
    transform: translateY(-2em) rotateZ(2deg);
  }
  100%{
    transform: translateY(0em) rotateZ(0deg);
  }
}

#header-image{
    animation: image-swip-up;
    animation-timing-function: ease-out;
    animation-duration: 1s;
  }
  @keyframes image-swip-up {
    0% {
      opacity: 0;
      transform: translateY(3em);
    }

    100%{
      opacity: 1;
      transform: translateY(0em);
    }
  }

#header-main-title{
    animation: title-fade-animation;
    animation-timing-function: ease-out;
    animation-duration: 1s;
  }
  @keyframes title-fade-animation {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(10px);
    }

    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }

#header-sub-title{
    animation: sub-title-fade-animation;
    animation-timing-function: ease-out;
    animation-duration: 1s;
  }
  @keyframes sub-title-fade-animation {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-10px);
    }

    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }

.home-header{
    background: url('../images/bg.png'); 
    margin-top: -80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }
.home-header h1{
    color: #222222;
    font-family: 'Kaisei Tokumin';
}
.home-header p{
  color: #777;
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.625em;
}

 /* VIDEO SECTION */
.video-section{
  align-items: center;
}
.video-bg-container{
  position: relative;
  z-index: -1;
}
.video-container{
  z-index: 1;
}
#video-text-container p{
  color:#777;
  line-height: 1.6;
  letter-spacing: .08em;
  margin-bottom: 30px;
}
.grey-text-box{
  background-color: #F4F4F4;
}
.grey-text-box:hover{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.grey-text-box span{
  vertical-align: middle;
  color: #9e9e9e;
}

/* PRIVACY SECTION */
.privacy-section{
  display: flex;
  justify-content: center;
}
#privacy-text-container h1{
  font-weight: 400;
}
#privacy-text-container p{
  color: #616161;
  line-height: 1.8;
  letter-spacing: 0.08em;
}
#privacy-text-container hr{
  color: #9e9e9e;
}
.privacy-point-container{
  margin-right: 10%;
  display: flex;
  align-items: center;
}
.privacy-point-container i{
  color: #7D1EFE;
  background-color: #F3F2FF;
  border-radius: 15px;
}
.privacy-point-container i:hover{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.privacy-point-container span{
  overflow: scroll;
  font-family: 'Poppins';
}

.image-container{
  position: relative;
}
.image-container:hover img:not(:hover){
    transform: scale(.95);
  } 
.image-container img{
  position: absolute;
  border-radius: 2px;
  box-shadow: 0px 15px 40px rgb(0,0,0,0.4);
  transition: all .2s;
}
.image-container img:first-of-type{
  z-index: 5;
  /* first img */
}
.image-container img:first-of-type:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 25px 40px rgb(0,0,0,0.5);
    z-index: 10;
  }
.image-container img:nth-child(2){
  z-index: 5;
  /* last img */
}
 .image-container img:nth-child(2):hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 25px 40px rgb(0,0,0,0.5);
    z-index: 10;
  }
.image-container img:last-of-type{
  z-index: 5;
  /* center img */
}
.image-container img:last-of-type:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 25px 40px rgb(0,0,0,0.5);
    z-index: 10;
  }
.privacy-image-container{
  background:
    linear-gradient(#F6F6F6, transparent),
    linear-gradient(to right ,white, transparent),
    linear-gradient(to left, white, transparent),
    linear-gradient(to bottom, white, #0e1e58 , transparent),
    linear-gradient(to top, white,#0e1e58 , transparent),
    linear-gradient(#0e1e58 , transparent);
  background-blend-mode: screen;
}

/* CONTENT SECTION */
.content-section{
  background-image: 
    linear-gradient(to right bottom, rgb(133,236,237,0.9), rgb(35,93,224,0.9)),
      url('../images/home_section/mixed_phones.png');
  background-size: cover;
  text-align: center;
}
.content-text-container h1{
  color: white;
  text-align: center;
  font-weight: 400;
  font-family: 'Kaisei Tokumin';
}
.content-text-container ul{
  color: white;
  margin-bottom: 40px;
  text-align: center;
  list-style: none;
  margin-left: -30px;
}
.content-text-container li:before{
  font-family: 'FontAwesome';
  content: '\f560';
  font-size: 15px;
  margin-right: 10px;
  color: #CD9F6A;
}
.content-text-container li{
  margin-top: 15px;
  font-family: 'Kaisei Tokumin';
  font-weight: lighter;
}
/* used to contorl space betweeen bullet and text */
.content-text-container li span{
  position: relative;
}
#btn-google-play{
  transition: transform 0.5s;
}
#btn-google-play img:hover{
  transform: scale(1.2);
}

/* EXPLORE PAGE */


.explore-header{
  background: url('../images/bg.png'); 
  margin-top: -80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.explore-header h1{
    color: #222222;
    font-weight: lighter;
}

.promise-section{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.promise-video-container{
  /* background:
    linear-gradient(#F6F6F6, transparent),
    linear-gradient(to right ,white, transparent),
    linear-gradient(to left, white, transparent),
    linear-gradient(to bottom, white, #0e1e58 , transparent),
    linear-gradient(to top, white,#0e1e58 , transparent),
    linear-gradient(#0e1e58 , transparent);
  background-blend-mode: screen; */
  text-align: center;
}

#promise-text-container p{
  font-family: 'Poppins';
  color: #616161;
}
#promise-text-container i{
  padding: 30px;
  background-color: #F3F2FF;
  border-radius: 15px;
  color: #7D1EFE;
}
#promise-text-container i:hover{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.explore-content-section{
  background-image: linear-gradient(to right bottom, #44d7f5, #2a78e9);
}
.explore-content-heading{
  display: flex;
  flex-direction: row;
  color: white;
}
.explore-content-heading:before,
.explore-content-heading:after
{
content: "";
    flex: 1 1;
    border-bottom: 2px solid white;
    margin: auto;
}
#explore-content-col-left{
  position: relative;
  text-align: end;
  position: relative;
}
#explore-content-col-right{
  position: relative;
  text-align: end;
  position: relative;
}
.explore-content-item-container{
  display: flex;
  align-items: flex-start;
}
.icon-round{
  padding: 30px;
  background-color: #F3F2FF;
  border-radius: 100px;
  color: #7D1EFE;
}
#explore-content-col-left .icon-round{
  box-shadow: 2px 2px 2px #37A8EF;
}
#explore-content-col-right .icon-round{
  box-shadow: 2px 2px 2px #308FEC;
}
.icon-round:hover{
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: #F3F2FF;
}

.explore-content-item-container span{
  text-align: left;
  margin-left: 20px;
  color: white;
  font-family: 'Poppins';
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.07em;
}

/* WHY US PAGE */
.why-us-header{
  background: url('../images/bg.png'); 
  margin-top: -80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.why-us-header h1{
  color: #222222;
}

.why-us-header span{
  color: #162a6f;
}

.why-us-bg-container{
background-color: #F2F1F8;
position: relative;
}
.why-us-content-section{
position: absolute;
background-color: white;
box-shadow: 0 1px 1px;
}
.why-us-content-section p{
font-family: 'Abel';
}

.feature-section-container h1{
display: inline-block;
background-image: linear-gradient(to right bottom, #44d7f5, #2a78e9);
-webkit-background-clip: text;
color: transparent;
}
.feature-box{
background-color: white;
border-radius: 3px;
box-shadow: 0 1px 1px;
transition: transform 0.3s;
}
.feature-box:hover{
transform: translateY(-15px) scale(1.03);
}
.feature-box_icon{
display: inline-block;
background-image: linear-gradient(to right bottom, #44d7f5, #2a78e9);
-webkit-background-clip: text;
color: transparent;
}
.feature-box_text{
color: black;
}

html {
  scroll-behavior: smooth;
}